/* font-family: 'Kranky', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

body {
  font-family: "Poppins", sans-serif;
  background-color: #069888;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("../images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}
header h1 {
  font-family: "Kranky", serif;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 44px;
  font-weight: lighter;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: #063121;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}
main {
  background-color: white;
}
main h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  line-height: 1.5;
  margin: 30px 0;
  color: #063121;
}
main h3 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
  color: #063121;
}
main p {
  font-size: 18px;
  color: #063121;
  opacity: 0.7;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/footer.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
footer h3 {
  font-weight: 300;
}
footer p {
  font-size: 12px;
  opacity: 0.5;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.5;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.img-responsive {
  max-width: 100%;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 22px;
  }
}
